body {
    
    background-image: url(../assets/images/grunge.jpg);
    background-color: lightgray;
    color: black;
}

nav {
    margin-bottom: 100px;
}

div.row {
    margin-bottom: 15px;
}

footer {
    margin-top: 25%;
    background-color: black;
    color: white;
    width: 100%;

}

a:hover {
    color: white;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 97%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(53, 55, 59);
}

.contact {
    margin-bottom: 20px;
}

.overlay:hover {
    opacity: .75;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}